{% extends 'base.html' %}

{% block content %}
    <h2>
        {{ object.name }}
    </h2>

    <h3>
        Made by: {{ object.author }}
    </h3>   

    <ul>
        {% for ingredient in object.ingredients.all %}
            <li>
                {{ ingredient.ingredient.name }}
            </li>
        {% endfor %}
    </ul>

    <p>
       Recipe Image: 
    </p>

    {% if object.task_image %}
        <img src="{{ object.recipe_image.url }}" alt="{{ object.recipe_image.description }}">
    {% endif %}

    <p>
        <a href="/recipes/list">
            Back to Recipes List!
        </a>
    </p>
{% endblock %}