{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>
        {{ object.name }}
    </h2>

    <h3>
        Made by: {{ object.author }}
    </h3>   

    <ul>
        {% for ingredient in object.ingredients.all %}
            <li>
                {{ ingredient.ingredient.name }}
            </li>
        {% endfor %}
    </ul>

    <p>
       Recipe Image: 
    </p>

    {% for image in object.recipe_images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}

    <p>
        <a href="/recipes/list">
            Back to Recipes List!
        </a>
    </p>
{% endblock %}