<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% block title %}
                Recipe Book
            {% endblock %}
        </title>
        
        {% block styles %}
            <header>
                <h1>
                    Recipe Book
                </h1>

                {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">
                            Logout
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">
                        Login
                    </a>
                {% endif %}

            </header>

            <hr>

        {% endblock %}
    </head>

    <body>
        {% block content %}
        <!-- Body Here  -->
        {% endblock %}
    </body>
</html>